# Ignore environment variables
**/*.env
.env

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environment folders (на случай)
venv/
.env/
.venv/

# Ignore VS Code project settings
.vscode/
